<%- include('./partials/header.ejs'); %>
  <div class="manageUser-container">
    <div id="title">
      <h2>Manage Users</h2>
    </div>


    <form id="search-container" style="position: relative;">
      <input type="text" placeholder="search user by name or email or mobile or Serical" name="user" id="user"
        autocomplete="off" style="width: auto;" />
      <p class="error"></p>
      <div class="search_users" style="top:50"></div>
      <input type="submit" value="Submit" class="hide" />
    </form>

    <div class="new-message-container new-user">
      <a href="#" onclick="openModal()">+</a>
    </div>

    <div id="users-table">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Last Payment</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody id="users-table3">
          <% users.forEach(function(user) {                        
            
            %>

            
          
            
            <tr  id="<%= user._id %>">
              <td class="name" onclick="showUserDetail('<%= user._id %>')" >

                <img class="imgSerial<%= user.serial %>" src="./uploads/ppimg/<%= user.serial %>.jpg" />
                
              
                
              </td>
              <td>  %>
                <%= user.name %>
              </td>
              <td>  %>
                <%= user.mobile %>
              </td>
              <td>
                

                
             
             
              
                <% if (user.dataset.length> 0) { %>
                  <% let lastData = user.dataset.slice(-1).pop()  %>
                  
                  <% if(lastData.paymenttype=='yearlydeduct'){ %>
                  <span style="color: red;">Yearly <%= lastData.payment %> TK Deducted</span> 
                   
                  <% } %>
               <% }  else if (user.paymenttype ==  "yearlydeduct") { %>
                <% let lastData = user.dataset.slice(-1).pop()  %>
                <%=  lastData.payment  %>TK Deducted   
                <%=  moment(lastData.createdAt).fromNow()  %>
                  
               <%}%>
               
              </td>

              <td class="manage">
                <img src="./images/edit.png" alt="Edit" onclick="updateUser('<%= user._id %>')" />
                <!-- <img src="./images/trash.png" alt="Delete" onclick="deleteUser('<%= user._id %>')" /> -->
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>

    </div>
    <div id="userDetails"></div>
  </div>
  <%- include('./partials/add-user-modal.ejs'); %>


    <script>

      function showUserDetail(userID){
        
        window.location.replace('/invoice?id='+userID);
      }
      // toasts
      const deleteToast = Toastify({
        text: "User was deleted successfully!",
        duration: 3000,
      });

      const deleteErrorToast = Toastify({
        text: "Could not delete the user!",
        duration: 3000,
      });

      // delete user function
      async function deleteUser(userId) {
        let response = await fetch(`/users/${userId}`, {
          method: "DELETE",
        });

        let result = await response.json();

        if (result.errors) {
          deleteErrorToast.showToast();
        } else {
          deleteToast.showToast();
          document.getElementById(userId).remove();
        }
      }



      let typingTimer;
      const doneTypingInterval = 500;
      const input = document.querySelector("input#user");
      const conversation_list = document.querySelector("#conversation-list");
      let users_placeholder = document.querySelector(".search_users");
      let tablePlace =document.querySelector("#users-table3");

      //on keyup, start the countdown
      input.addEventListener("keyup", function () {
        clearTimeout(typingTimer);
        // reset
        users_placeholder.style.display = "none";

        if (input.value) {
          typingTimer = setTimeout(searchUsers, doneTypingInterval); //user is "finished typing," send search request
        }
      });

      //on keydown, clear the countdown
      input.addEventListener("keydown", function () {
        clearTimeout(typingTimer);
      });

     


      // send request for search
      async function searchUsers() {
        let response = await fetch("/inbox/search", {
          method: "POST",
          body: JSON.stringify({
            user: input.value,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });

        // get response
        let result = await response.json();

        // handle error and response
        if (result.errors) {
          const errorplaceholder = document.querySelector("p.error");


          errorplaceholder.textContent = result.errors.common.msg;
          errorplaceholder.style.display = "block";
        } else {
          if (result.length > 0) {
            let generatedHtml = "";
            result.forEach((user) => {
             
              let avatar = `./uploads/ppimg/nophoto.jpg`

              if(checkImage(`./uploads/ppimg/${user.serial}.jpg`)){
              avatar =` ./uploads/ppimg/${user.serial}.jpg`
              } 
              
               

                generatedHtml += `   
            <tr  id="${user._id}">
              <td class="name" onclick="showUserDetail('${user._id}')" >
                <img src="${avatar}" />
              </td>
              <td onclick="showUserDetail('${user._id}')" >
                ${user.name}  
              </td>
              <td onclick="showUserDetail('${user._id}')" >
                  ${user.mobile}
              </td>
              <td class="manage">
                <img src="./images/edit.png" alt="Edit"   />
                <!-- <img src="./images/trash.png" alt="Delete" onclick="deleteUser('${user._id}')" /> -->
              </td>
            </tr> `;
           

            
            });
            
            tablePlace.innerHTML = generatedHtml;
            users_placeholder.style.display = "block";
          }

          showDetalLister()
        }
      }


      let userDetails = document.getElementById("userDetails");
     
      let usersTable = document.getElementById("users-table");

      const showDetalLister = () =>{
      var buttons = document.querySelectorAll('.btn-click-me');
        for (var i = 0; i < buttons.length; i++) {
            var self = buttons[i];

            self.addEventListener('click', function (event) {  
                // prevent browser's default action
                event.preventDefault();
              console.log(11)
                // call your awesome function here
                showUserDetail(this); // 'this' refers to the current button on for loop
            }, false);
        }

      }     
      // get messages of a conversation
      async function getUser(userid) {

 
        let response = await fetch(`/users/search/${userid}`);
        const result = await response.json();

        // handle error and response
        if (result.errors) {
          const errorplaceholder = document.querySelector("p.error");
          errorplaceholder.textContent = result.errors.common.msg;
          errorplaceholder.style.display = "block";
        } else {
          if (result.data.user) {

            let generatedHtml = "<ul>";

              let avatar = `./uploads/nophoto.jpg`

           if(checkImage(`./uploads/ppimg/${result.data.user.serial}.jpg`)){
            avatar =` ./uploads/ppimg/${result.data.user.serial}.jpg`
           } 
            
        

            generatedHtml += `<li>
              <div class="user">
                <div class="avatar">
                  <img src="${avatar}" />
                </div>
                <div class="username">${result.data.user.name}</div>
              </div>
            </li>`;

            generatedHtml += "</ul>";
            userDetails.innerHTML = generatedHtml;
            userDetails.style.display = "block";
          //  searchUsersDiv.innerHTML = "";
            users_placeholder.style.display = "none";
            usersTable.style.display = "none";
            
          }
        }
      }

      async function checkImage(url) {
        var request = new XMLHttpRequest();
        request.open("GET", url, true);
        request.send();
        request.onload = function() {
          status = request.status;
           
          if (request.status == 200) //if(statusText == OK)
          {
           
            return true
           
          } else {
           
            return false;
           
          }
        }
      }
    </script>
    </body>

    </html>